body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#inicio h1{
    margin-top: 150px;
}


/* Estilo para la lista de beneficios */
#beneficios ul {
    padding-left: 20px;
}

#beneficios ul li {
    margin-bottom: 10px;
}

/* Estilo para la lista de colaboradores */
#colaboradores ul {
    padding-left: 20px;
}

#colaboradores ul li {
    margin-bottom: 5px;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    font-size: large;
    padding: 20px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
}

ul li:before{
    content: '\2022'; /* Código del punto */
    color: #960e53; /* Color del punto */
    font-size: 1.4em; /* Tamaño del punto */
    position: absolute;
    left: -20px; /* Distancia del punto respecto al texto */
    top: 0;
}

h1, h2 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px; /* Reducimos el espacio entre títulos */
    text-align: center;
}

p {
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 1.6;
}

section {
    padding: 50px 0; /* Reducimos el espacio alrededor de cada sección */
    background-color: #f9f9f9;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


nav {
    background-color: #960e53;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
}

.navbar {
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 25px; /* Espacio entre cada enlace */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    /* font-size: 22px; */
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.bienvenida{
    font-size: 80px;
}